<%- include('../_partials/header'); -%>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
  <%- include('../_partials/navbar'); -%> <%- include('../_partials/sidebar');
  -%>
  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
              <h2 class="pageheader-title">Transaksi</h2>

              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#" class="breadcrumb-link">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Data Transaksi
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <h5 class="card-header">Kas Masuk</h5>
            <div class="card-body">
              <form action="#" id="basicform" data-parsley-validate="">
                <div class="form-group">
                  <label for="masuk">Masuk</label>
                  <input
                    id="masuk"
                    type="text"
                    name="masuk"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="keterangan">Keterangan</label>
                  <textarea
                    class="form-control"
                    id="keterangan"
                    rows="3"
                  ></textarea>
                </div>
                <div class="row">
                  <div class="col-sm-6 pl-0 offset-sm-6 offeset-lg-6">
                    <p class="text-right">
                      <button type="submit" class="btn btn-space btn-primary">
                        Submit
                      </button>
                      <button class="btn btn-space btn-secondary">
                        Cancel
                      </button>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%- include('../_partials/footer'); -%>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- end main wrapper  -->
  <!-- ============================================================== -->
  <!-- Optional JavaScript -->
  <%- include('../_partials/optional-js'); -%>
</div>
</script>
</body>

</html>